.idea
/cache
/cache*
/src
/venv*
/debug*
/workspace*
/models*
/training_concepts
/training_samples
/training_user_settings
/tensorboard
/external
/out
/out*
/backup
/image
debug*.py
train.bat
config.json
*.pyc
*.bak
*.env

# my stuff
/dataloader*
/dataloader
*.safetensors
/data
/data*
/datavolume
/datavolume*
